:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  --second-family: "Raleway", sans-serif;
}

/* p, a - 400, h1 - 700 */
/* pseudoclass it is why because in html it is not exist but in css is. */

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  /* максимально допустима ширина */
  /* 1158-1128=30/2=15px paddings */
  width: 100%;
  /* дозволяє елементу зменшуватися */

  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

header {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  width: 115px;

  margin-right: 76px;
  /* with preprocessors old mode style*/
  /* .colorine {
    color: #4d5ae5;
  } */
}

/* without preprocessors */
.header-logo > .colorine {
  color: #4d5ae5;
}

.header-menu-list {
  display: flex;
  width: 261px;
  justify-content: space-between;
}

.header-menu-underline {
  position: relative;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  padding: 24px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link > .current_page {
  color: #404bbf;
  position: relative;
}

.current-page::after {
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;

  background-color: #404bbf;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-menu-link:is(:hover, :focus) {
  color: #404bbf;
} */

.header-menu-link:focus,
.header-menu-link:active,
.header-contacts-link:focus,
.header-menu-link:hover,
.header-contacts-link:hover,
.header-contacts-link:active {
  color: #404bbf;
}

.header-contacts {
  /* перемещаем в крайне правое положение то есть максимальное
  место для левого маргина. */
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-basic {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

/* explanation text under image in section portfolio for example */
.portfolio-undertext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  gap: 8px;
}

.team-undertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
}

.section-subtitle-basic {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.section-description-basic {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.hero {
  background: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  max-width: 496px;
}

.hero-container {
  display: flex;
  padding: 188px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
}

.hero-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.hero-btn-blue:hover,
.hero-btn-blue:focus {
  background-color: #404bbf;
  /* border: 1px solid #2939e5; */
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.features-item {
  max-width: calc((100% - 3 * 24px) / 4);
}
.features-subtitle,
.feature-description {
  text-align: left;
}

.features-icon-container {
  position: relative;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-icon {
  position: absolute;
  /* top, left, right, bottom drop to 0 positions */
  inset: 0;
  /* put on center top, left, right, bottom */
  margin: auto;
  /* center top behaive */
  /* margin: 0 auto; */
  width: 64px;
  height: 64px;
  fill: #2e2f42;
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-description {
}

.team-cards {
  background: #f4f4fd;
  padding: 120px 0px;
}

.team-cards-title {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-cards-item {
  border-radius: 0 0 4px 4px;
  /* padding: 0px 0px 32px; */
  width: calc((100% - 3 * 24px) / 4);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-image: linear-gradient(#f4f4fd, #f4f4fd);
}

/* Це зробить зображення «гумовими», тобто вони підлаштовуватимуться під ширину батьківського елемента */
.team-cards-img {
  /* min-width: 100%; */
  object-fit: cover;
  width: 264px;
  height: 260px;
  width: 100%;
  display: block;
}

.team-cards-subtitle {
}

.team-cards-description {
}

.row-social {
  display: flex;

  gap: 24px;
}
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #404bbf;
}

.footer-social-section > .row-social > .social-icons > .social-icons-link:hover,
.footer-social-section
  > .row-social
  > .social-icons
  > .social-icons-link:focus {
  background-color: #31d0aa;
}

.portfolio {
  padding: 120px 0px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* raw-gap - между верзними и нижними елементам */
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-img {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  height: auto;
  display: block;
}

.portfolio-img-cover {
  position: relative;
  overflow: hidden;
}

.appearing-text-portfolio {
  position: absolute;
  /* put on image */
  top: 0;
  left: 0;
  /* put on image on it full size*/
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  /*hide to top */
  opacity: 0;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-img-cover > .appearing-text-portfolio {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-subtitle {
}

.portfolio-description {
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background: var(--navy-blue);
  /* move into center in horizontal */
}

.footer > .container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
}

.footer-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-colored-title {
  color: var(--iris);
}

.footer-subtitle {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: left;

  color: var(--cloud);
  /* color: #f4f4fd; */
  margin: 16px 0 0;
  font-family: Roboto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.footer-common-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-social-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-left: 120px;
}

.footer-social-section > .row-social {
  gap: 16px;
}
.footer-social-section > .row-social > .team-icon {
  width: 24px;
  height: 24px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-modal-title {
  margin: 0px 0px 16px 0px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  margin-left: auto;
}

.footer-modal-form {
  display: flex;
  gap: 24px;
}

.footer-modal-input {
  /* width: 100%; */
  width: 264px;

  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  padding-left: 16px;
  max-width: 264px;
  background-color: transparent;

  font-weight: 400;
  font-family: var(--font-family);
  border: 1px solid var(--white);
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-submit {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  display: flex;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.footer-input-wrapper {
}

.modal-input > input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  outline: none;
}

.footer-modal-input:focus,
.footer-modal-input:hover {
  border: 1px solid #31d0aa;
}

.footer-btn-submit:focus,
.footer-btn-submit:hover {
  background-color: #31d0aa;
}

.send-icon {
}

.footer-modal-input::placeholder {
  color: white;
}
/* --------------------------------------------------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* hiding modal window */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(46, 47, 66, 0.4);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  /* position on vp */
  position: absolute;
  /* lt angle is moved to center of window */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 48px 24px 24px 24px;
  padding-top: 48px;
}
.inputs-modal {
}
.model-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  fill: var(--cornflower);
  stroke-width: 1px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-btn:focus,
.model-close-btn:hover {
  background-color: #404bbf;

  .close-icon {
    fill: white;
  }
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon:focus,
.close-icon:hover {
}
.modal-title {
  text-align: center;
  margin: 16px;
  color: #2e2f42;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.model-form {
  width: 360px;
  min-height: 336px;
  border-radius: 4px;
}

.modal-field {
  width: 360px;
  min-height: 58px;
  margin-bottom: 8px;
}

.modal-input-label {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin: 4px;
}

.modal-field:focus {
  border-color: #4d5ae5;
}

.modal-field:focus + .input-icon {
  fill: #4d5ae5;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* width: 360px; */
  min-height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input:focus + .input-icon {
  fill: var(--iris);
}

.modal-field-textarea {
}

.modal-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* width: 360px; */
  min-height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.modal-textarea:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-checkbox-field {
  margin-bottom: 24px;
}
.modal-input-checkbox {
}
.modal-input-checkbox:checked
  + .modal-box-label
  > .modal-checkbox-place
  > .check-box-icon {
  background-color: #404bbf;
  border: none;
  fill: white;
}
.modal-input-checkbox:checked + .modal-box-label > .modal-checkbox-place {
  background-color: #404bbf;
  border: none;
}

.modal-box-label {
  display: flex;

  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-checkbox-place {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box-icon {
  fill: transparent;
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: transparent; */
}
.check-box-icon:focus,
.check-box-icon:hover {
  background-color: #404bbf;
}

.custom-policy-text {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.btn-submit {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:focus,
.btn-submit:hover {
  background-color: #404bbf;
}

.modal-field-textarea {
  margin-bottom: 16px;
}
